body {
  font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #111;
  padding: 1rem 2rem;
}

.mt5 {
  margin-top: 20px !important;
}
